:root{
    --blue:#263238;
}
/* HERO SECTION  */
.hero{
    background-color: #F5F7FA;
}
 /* SECTION 7 */
.img-overlay-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 180%;
    margin: auto;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  .read-more{
    text-decoration: none;
  }
  .read-more:hover {
    text-decoration: underline 2px solid #188351;
  }